/* Error: Undefined variable.
 *    ,
 * 98 | .table__hover-#{$name} {
 *    |                 ^^^^^
 *    '
 *   components\base\_table.scss 98:17  @import
 *   baku.scss 7:9                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 98 \2502  .table__hover-#{$name} {\d\a    \2502                  ^^^^^\a    \2575 \a   components\\base\\_table.scss 98:17  @import\a   baku.scss 7:9                      root stylesheet";
}
