$theme-colors: (
	'primary': #626ed4,
	'secondary': #343549,
	'success': #2aa39a,
	'danger': #ec4561,
	'warning': #f8b425,
	'info': #38a5f8,
	'light': #f8f8fa,
	'dark': #575c62,
	'muted': #edecf1,
);

$font-sizes: (
	small: 12px,
	medium: 16px,
	large: 20px,
);

$paddings: (
	small: 12px,
	medium: 16px,
	large: 20px,
);

@each $name, $theme-color in $theme-colors {
	.is-#{$name} {
		border: 1px solid $theme-color;
	}
}

@each $name, $font-size in $font-sizes {
	.is-#{$name} {
		font-size: $font-size;
	}
}

@each $name, $padding in $paddings {
	.p-#{$name} {
		padding: $padding;
	}
}
