@import '../../variables/base';
@import '../../variables/buttons';

.button{
    display: inline-block;
    padding: .375rem .75rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #212529;
    background-color: transparent;
    &:hover{
        cursor: pointer;
    }  
}


@each $name,$color in $theme-colors {
    .button-#{$name}{
        @extend .button;
        background-color: $color;
        color: white;
    }
 }


